{include file="Public/header" /}

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javasrcipt:;">公益管理</a>
        <a href="javasrcipt:;">公益冰箱列表</a>
        <a>
          <cite>首页</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加冰箱','{:url("Brige/communityAdd")}',550,350)">
            <i class="layui-icon"></i>添加公益冰箱
        </button>
        <span class="x-right"
              style="line-height:40px;color: #FF5722;font-size: 14px;">操作提醒：*****公益冰箱只能添加已经有的冰箱****</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>冰箱编号</th>
            <th>冰箱地址</th>
            <th>总营业额</th>
            <th>今日营业额</th>
            <th>公益基金（日）</th>
            <th>冰箱商品总价</th>
            <th>冰箱描述</th>
            <th>是否缺货</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="briges" id="vo"}
        <tr>
            <td>{$vo.brige_id}</td>
            <td>{$vo.code}</td>
            <td>{$vo.address}</td>
            <td>¥ <span style="color: #FF5722;">{$vo.money}</span></td>
            <td>
                ¥
                {if condition="$vo.dayliSum eq ''"}
                <span style="color: #FF5722;">0</span>
                {else /}
                <span style="color: #FF5722;">{$vo.dayliSum}</span>
                {/if}
            </td>
            <td>¥ <span style="color: #FF5722;">{$vo.community}</span></td>
            <td>¥ <span style="color: #5FB878;">{$vo.residue}</span></td>
            <td><span style="color: #2a493c;">{$vo.description}</span></td>
            <td class="td-status">
                {if condition="$vo.isBackOver eq 1"}
                <span class="layui-btn layui-btn-danger layui-btn-mini">已缺货</span>
                {else /}
                <span class="layui-btn layui-btn-normal layui-btn-mini">暂不缺货</span>
                {/if}
            </td>
            <td style="width: 15%;">
                <a class="operation-icon" onclick="member_stop(this,'{$vo.brige_id}')" href="javascript:;" title="停用">
                    <i class="layui-icon">&#x1007;</i>
                </a>
                <a class="operation-icon" title="查看产品" href="{:url("Brige/product",["id" => $vo.brige_id])}">
                <i class="layui-icon">&#xe698;</i>
                </a>
                <a class="operation-icon" title="信息修改" onclick="x_admin_show('冰箱信息修改','{:url(" Brige/edit",["brige_id"
                => $vo.brige_id])}',550,350)" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
                </a>
                <a class="operation-icon" title="查看补货单" href='{:url("Brige/backOverPage",["bid" => $vo.brige_id])}'>
                    <i class="layui-icon">&#xe63c;</i>
                </a>
                <a class="operation-icon" title="销量统计" href='{:url("Brige/sellCharts",["brige_id" => $vo.brige_id])}'>
                    <i class="layui-icon">&#xe629;</i>
                </a>
                <a class="operation-icon" title="记录丢失商品" onclick="x_admin_show('商品丢失记录','{:url(" Brige/ProductLost",["brige_id"
                => $vo.brige_id])}',550,250)"
                href="javascript:;">
                <i class="layui-icon">&#xe6b2;</i>
                </a>
                <a class="operation-icon" title="生成二维码" onclick="august_admin_show('冰箱二维码','{:url(" Brige/qrCode",["bid"
                => $vo.brige_id])}',400,400)"
                href="javascript:;">
                <img style="width: 16px;vertical-align: top; " src="__STATIC__/images/qrcode_icon.png"/>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page">

    </div>

</div>
<script>
    layui.use('laydate', function () {
        $ = layui.jquery;
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*用户-停用*/
    function member_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {
            $.post("{:url('Brige/stopCommunity')}", {"id": id}, function (res) {
                if (res == 1) {
                    layer.msg('已停用!', {icon: 6, time: 1000});
                } else {
                    layer.msg('停用失败',{icon: 5, time: 1000});
                }
            }, 'JSON');
            return false;
        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $.post("{:url('Brige/del')}", {"id": id}, function (res) {
                if (res == 1) {
                    layer.msg('已删除!', {icon: 1, time: 1000});
                } else {
                    layer.msg('删除失败!', {icon: 2, time: 1000});
                }
            }, 'JSON');

        });
    }


    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？', function (index) {
            //捉到所有被选中的，发异步进行删除
            $.post("{:url('Brige/batchDel')}", {"ids": data}, function (res) {
                if (res == 1) {
                    layer.msg('删除成功', {icon: 1});
                } else {
                    layer.msg('删除失败', {icon: 2});
                }
            }, 'JSON');
        });
    }
</script>
</body>

</html>