{include file="Public/header" /}
<body>
<div class="x-body">
    <form class="layui-form">

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>代理商名字
            </label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" required="" lay-verify="require"
                       autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label for="mobile" class="layui-form-label">
                <span class="x-red">*</span>联系手机
            </label>
            <div class="layui-input-block">
                <input type="text" id="mobile" name="mobile" required="" lay-verify="mobile"
                       autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label for="brige_id" class="layui-form-label">
                <span class="x-red">*</span>管理的冰箱编号
            </label>
            <div class="layui-input-block">
                <select name="brige_id" lay-verify="required" id="brige_id" lay-search>
                    {volist name="briges" id="vo"}
                    <option value="{$vo.brige_id}" >{$vo.code}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                添加代理商
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;

        //监听提交
        form.on('submit(add)', function (data) {
            //发异步，把数据提交给php
            $.post("{:url('Admin/agentAdd')}",{"field":data.field},function(res){
                if(res == 1){
                    layer.alert("添加成功", {icon: 6}, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }else if(res == 3){
                    layer.msg("已经添加过了", {icon: 2});
                } else{
                    layer.msg("添加失败!", {icon: 2});
                }
            }, 'JSON');

            return false;
        });

    });
</script>
</body>

</html>