<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>管理员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('Admin/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('Admin/agent')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>代理人列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>会员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('User/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe705;</i>
                    <cite>公司管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('Company/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>申请入驻</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe735;</i>
                    <cite>商品管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('Brige/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>冰箱列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('Brige/community')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>公益冰箱</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('Category/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品分类</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('Product/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('Lost/back')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>补货记录</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('Lost/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>丢失记录</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('Order/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>购买订单列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('Order/recharge')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>充值订单列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe705;</i>
                    <cite>广告管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('Ad/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>广告列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('Ad/payed')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>支付广告列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe705;</i>
                    <cite>反馈管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('Feed/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>留言列表</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- 左侧菜单结束 -->