{include file="Public/header" /}

<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="communityID" class="layui-form-label">
                <span class="x-red">*</span>冰箱编号
            </label>
            <div class="layui-input-inline">
                <select name="communityID" id="communityID" lay-verify="required" lay-search="">
                    <option value="">直接选择或搜索选择</option>
                    {volist name="briges" id="vo"}
                        <option value="{$vo.brige_id}">{$vo.code}</option>
                    {/volist}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>冰箱编号
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                增加
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;

        //监听提交
        form.on('submit(add)', function (data) {
            //发异步，把数据提交给php
            $.post("{:url('Brige/createCommunity')}", {"communityID": data.field.communityID}, function(res){
                if(res == 1){
                    layer.alert("增加成功", {icon: 6}, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                } else{
                    layer.msg('增加失败');
                }
            }, 'JSON');
            return false;
        });


    });
</script>
</body>

</html>