{include file="Public/header" /}
<body>
<div class="x-body">
    <form class="layui-form">

        <div class="layui-form-item">
            <label for="amount" class="layui-form-label">
                <span class="x-red">*</span>充值金额
            </label>
            <div class="layui-input-block">
                <input type="text" id="amount" name="amount" required="" lay-verify="number"
                       placeholder="¥" class="layui-input">
            </div>
        </div>
        <input type="hidden" value="{:input('param.uid')}" name="uid">
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                充值
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;

        //监听提交
        form.on('submit(add)', function (data) {
            //发异步，把数据提交给php
            console.log(data);
            $.post("{:url('User/doRecharge')}",{"uid":data.field.uid,"money":data.field.amount},function(res){
                if(res.code == 201){
                    layer.alert("充值成功", {icon: 6}, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                } else{
                    layer.msg("充值失败!", {icon: 2});
                }
            }, 'JSON');

            return false;
        });

    });
</script>
</body>

</html>